# Nexorithm 2026 Environment Configuration

# Server Port
PORT=5000

# MongoDB Connection URI
# Local MongoDB: mongodb://127.0.0.1:27017/nexorithm_2026
# MongoDB Atlas Cloud: mongodb+srv://<username>:<password>@cluster0.mongodb.net/nexorithm_2026?retryWrites=true&w=majority
MONGODB_URI=mongodb://127.0.0.1:27017/nexorithm_2026

# JWT Secret for Admin Authentication Session
JWT_SECRET=nexorithm_2026_super_secure_jwt_secret_key_998877

# Seed Admin Credentials (created on initial startup if no admin exists)
DEFAULT_ADMIN_USER=admin
DEFAULT_ADMIN_PASS=nexorithm@2026

# Node Environment
NODE_ENV=development
